
.lpnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(56, 52, 52);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


li a:hover:not(.active) {
  background-color: rgb(228, 191, 25);
}

.active {
  background-color: #4CAF50;
}

 body{
  background:url("/Images/plain-black-03.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
  
} 